---
layout: default
title: OSv - the operating system designed for the cloud
---

<div class="homeTopBannerLeft">
    <div class="custom">
        {% capture welcome %}{% include welcome.md %}{% endcapture %}
        {{ welcome | markdownify }}
    </div>
</div>
<div class="homeTopBannerRight">
<div id="k2ModuleBox107" class="k2ItemsBlock">
<iframe
src="http://www.slideshare.net/slideshow/embed_code/32826216"
width="427" height="356" frameborder="0"
marginwidth="0" marginheight="0" scrolling="no"
style="border:1px solid #CCC; border-width:1px 1px 0;
margin-bottom:5px; max-width: 100%;" allowfullscreen>
</iframe> <div style="margin-bottom:5px"> <strong> <a
href="https://www.slideshare.net/dmarti1111/o-sv-linux-collaboration-summit"
title="OSv presentation from Linux Foundation
Collaboration Summit" target="_blank">OSv presentation
from Linux Foundation Collaboration Summit</a>
</strong> from <strong><a
href="http://www.slideshare.net/dmarti1111"
target="_blank">Don Marti</a></strong> </div>
</div>
</div>
<div class="clr"></div>

<div class="homeCols">

<div class="homeTopBannerLeft"><h2><b><a
href="/status/"> The OS<sup>V</sup> alpha
release is now available.</a></b>  See the <b><a
href="/alpha/">release
notes</a></b> for details, or click the buttons below
to try it now.</h2> </div>

<div class="clr"></div>

<div class="homeCol4">
    <div class="moduletable">
        {% capture cloudme %}{% include cloud-me.md %}{% endcapture %}
        {{ cloudme | markdownify }}
    </div>
</div>

<div class="homeCol5">
    <div class="moduletable">
        {% capture runme %}{% include run-me.md %}{% endcapture %}
        {{ runme | markdownify }}
    </div>

</div>
</div>
<div class="clr"></div>

<div class="homeCols">
<div class="homeCol1">
<div class="moduletable keyFeture">
<h3>Key features</h3>
<div id="k2ModuleBox96" class="k2ItemsBlock  keyFeture">
<ul>
{% for feature in site.categories.feature %}
<li class="keyfeatures-menuitem">
    <a class="moduleItemTitle" >{{ feature.title }}</a>
    <div class="clr"></div>
    <div class="clr"></div>
    <div class="clr"></div>
</li>
{% endfor %}
</ul>
</div>
</div>
</div>
<div class="homeCol2">
<div class="moduletable tabs">

<div id="k2ModuleBox97" class="k2ItemsBlock  tabs">
<ul>
{% for feature in site.categories.feature %}
<li class="{% cycle 'odd', 'even' %}">
    <h3>{{ feature.title }}</h3>
    <div class="moduleItemIntrotext">{{ feature.content }}</div>
    <div class="clr"></div>
    <div class="clr"></div>
    <div class="clr"></div>
</li>
{% endfor %}
<li class="clearList"></li>
</ul>
</div>
</div>

</div>

<div class="homeCol3">
    <div class="moduletable cloud typical-cloud-stack">
        {% capture typical %}{% include typical-cloud-stack.md %}{% endcapture %}
        {{ typical | markdownify }}
    </div>
</div>

<div class="homeTopBannerLeft">
  {% capture demo %}{% include hp-demo.md %}{% endcapture %}
  {{ demo | markdownify }}
</div>


<div class="mobile keyfeatures">
<div class="moduletable accordion keyFeature ">
<h3>Key features</h3>
<div id="k2ModuleBox112" class="k2ItemsBlock  accordion keyFeature ">
<ul>
{% for feature in site.categories.feature %}
<li class="itemNum{{ forloop.index0 }}{% if forloop.last%} lastItem{% endif %}">
    <a class="moduleItemTitle" >{{ feature.title }}</a>
    <div class="moduleItemIntrotext">
        {{ feature.content }}
        <p>&nbsp;</p>      	        <a href="javascript:void(0)" class="closeTab">&nbsp;</a>
    </div>
    <div class="clr"></div>
    <div class="clr"></div>
    <div class="clr"></div>
</li>
{% endfor %}
</ul>
</div>
<script>
    jQuery(document).ready(function(e) {
        $('.k2ItemsBlock.accordion .moduleItemTitle').click(function(e) {
            $(this).toggleClass('active');
            $(this).next('.moduleItemIntrotext').slideToggle();
        });
        $('.k2ItemsBlock.accordion .moduleItemIntrotext .closeTab').click(function(e) {
            $(this).parent('.moduleItemIntrotext').slideUp();
            $(this).parent('.moduleItemIntrotext').prev('.moduleItemTitle').removeClass('active');
        });
    });
</script>		</div>
</div>
<div class="clr"></div>
<div style="border-bottom: 1px solid #d7d7d7; width:100%;"></div>

</div>

