<div class="clr"></div>
</div>
<div class="clr"></div>
<div class="footer">
    <div class="wrapf">


        <div class="custom"  >
            <p><a href="http://www.cloudius-systems.com"><img style="margin-top: 30px;" src="images/footerLogo.jpg" alt="" width="380" height="38" /></a></p></div>



        <div class="custom social"  >
            <p><a href="https://plus.google.com/107787008629542080430" rel="publisher">Google+</a></p></div>



        <div class="custom CloudIcon"  >
            <p><a href="http://osv.io/"><img src="images/footerCloudIcon.jpg" width="57" height="33" alt="footerCloudIcon" /></a></p></div>

        <div class="clr"></div>
    </div>
</div>
<div class="pealBanner">


    <div class="custom"  >
        <p><a href="https://github.com/cloudius-systems/osv" target="_blank"> <img onmouseover="this.src='images/forkhover.png';" onmouseout="this.src='images/fork.png';" src="images/fork.png" alt="" width="136" height="178" /></a>
        </p></div>

</div>
</body>
</html>
